# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=flowautomate_db
DB_USER=admin
DB_PASSWORD=admin123

# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=0af4bb2fe9cc197a1c9c70b63b3a0d836befd4cfeac65e736ef2cb081712e32e4f5a3c1d077f253102785093e586fdbdc02fb9ab138b91b27eb10cae33a3703d
JWT_EXPIRES_IN=24h

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Rabbit MQ config
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin123
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672


# ElasticSearch config
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USERNAME=admin
ELASTICSEARCH_PASSWORD=admin123
ELASTICSEARCH_INDEX=pdf_content
